#documentation .nav-tabs, #documentation .nav-pills {
    background-color: #f8f9fa;
    text-align: center;
}

.justify-content-center {
    justify-content: center !important;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.oe_slogan:before {
	margin: 0 20px;
    content: "";
    display: inline-block;
    width: 100px;
    height: 0px;
    border-top: solid 1px;
    vertical-align: middle;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
}

.oe_slogan:after {
	margin: 0 20px;
    content: "";
    display: inline-block;
    width: 100px;
    height: 0px;
    border-top: solid 1px;
    vertical-align: middle;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
}